@font-face {
    font-family: "Print Clearly";
    src: url("../fonts/print_clearly/PrintClearly.otf");
}

@font-face {
    font-family: "Print Clearly Bold";
    src: url("../fonts/print_clearly/PrintBold.otf");
}

@font-face {
    font-family: "BIOHAZARD";
    src: url("../fonts/BIOWEAPON/BIOWEAPON/BIOWEAPON.ttf");
}

@font-face {
    font-family: "reey";
    src: url("../fonts/reey/Reey-Regular.otf");
}

body, html {
    font-family: "Print Clearly", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

body {
    width: 100%;
}

h1, h5, h6 {
    font-family: "BIOHAZARD";
    margin-bottom: 1.2rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1rem;
    margin: 2px;
    padding: 2px;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

a:hover {
    color: #fff;
}

li {
    list-style: none;
    margin: 0.7rem;
    padding: 0;
}


/* Header/Navigation */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.header > div > h1:nth-child(2) {
    color: #307eae;
}

.pulse {
    opacity: 0;
    margin-left: 2.5rem;
}


/* Body */
.body-container {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero > h2 {
    text-align: center;
    font-family: "reey", sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 2rem;
    margin: 1.5rem;
    display: flex;
}

.hero > h2 > img {
    width: 2.5rem;
}

.hero > p {
    text-align: center;
}

.profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.profile-about {
    width: 70%;
    max-width: 85rem;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #000;
}

.profile-about > h5 {
    margin-top: 0;
    padding-top: 0.5rem;
    color: #307eae;
}

.profile-about > p {
    line-height: 1.3rem;
}

.profile-img-container > img {
    height: 18rem;
    border-radius: 50%;
    transition: 1s;
}

.profile-img-container:hover > img {
    border-radius: 0;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.profile-details > h5 {
    font-size: 1.2rem;
    color: #307eae;
    margin-top: 0;
}


/* Slide grid */
.project-container {
    width: 100%;
    max-width: 85rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.project-container > div {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.project-container > div > img {
    width: 100%;
    height: 20rem;
    transition: 1s;
}

.project-container > div:hover > img {
    transform: scale(1.5);
}

.project-container > div:hover:nth-child(2) > img {
    transform: scale3d(2,1,1);
}

.project-container > div:hover:nth-child(4) > img {
    transform: rotate(-45deg);
    border-radius: 50%;
}

.project-container > div:hover:nth-child(5) > img {
    transform: rotateY(-180deg);
}

.project-container > div:last-child > img {
    transform: none;
}

.project-container div > h1 {
    text-align: center;
    line-height: 3.2rem;
}

.project-container div > .left {
    text-align: left;
}


/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 25vh;
    background-color: #000;
}

.footer > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer > .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer > .socials > a {
    margin: 0 0.5rem;
}

.footer > .socials > a > img {
    width: 2rem;
    padding: 0;
    display: flex;
}



/* Animations */
@keyframes slide-down {
    0% {
        top: -20rem;
    }
    100% {
        top: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        left: -80rem;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}


@media (prefers-reduced-motion: no-preference) {
    .square-animation {
        animation: fade-in 3s;
    }
    .slide-down-animation {
        position: relative;
        animation: slide-down 3s 1;
    }
    .pulse-animation {
        animation: pulse 2s linear infinite;
        animation-delay: 2s;
    }
    .slide-right-animation {
        position: relative;
        animation: slide-right 3s 1;
    }
}